
  <!--Author: Anton Bergström, Ariyan Abdulla-->
  <!--Date: 2017-09-30-->
  <!--Last update: 2017-11-17 by Anton & Ariyan-->
  <!--This contains the html code for the performance page.-->

<div class="row">
  <div class="col-lg-12">
    <nb-card>
          <h2 style="padding: 10px">
          <ngx-modals [modalHeader]=modalHeader1 [modalContent]=modalContent1></ngx-modals>
          Improvement Over Time
          </h2>
          <div class="col-lg-11">
            <ngx-chartjs-multiple-xaxis [factor] = 1 style="margin-left:5%"></ngx-chartjs-multiple-xaxis>
          </div>
    </nb-card>
  </div>
</div>

